<section id="changePassword">
    <div class="main-login main-center">
        <div class="panel-heading">
            <div>
                <img src="assets/icon_wishlist.png"/>
            </div>
        </div>
        <div class="container">
            <div class="form-wrap">
                <h1>Change password</h1>
                <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off" ng-submit="changePassword()">
                    <div class="form-group">
                        <label for="oldPassword" class="sr-only">Old password</label>
                        <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old password" ng-model="credentials.oldPassword">
                    </div>
                    <div class="form-group">
                    <label for="password" class="sr-only">New password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="New password" ng-model="credentials.password">
                    </div>
                    <div class="form-group">
                    <label for="matchingPassword" class="sr-only">Confirm password</label>
                    <input type="password" name="matchingPassword" id="matchingPassword" class="form-control" placeholder="Confirm password" ng-model="credentials.matchingPassword">
                    </div>
                    <input type="submit" id="btn-login" class="btn btn-lg btn-block" value="Change password">
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <p><strong>Copyright: </strong> Gajewski, Siatka, Wrona</p>
        </div>
    </div>
</footer>