<section id="confrimRegistration">
    <div class="main-login main-center">
        <div class="panel-heading">
            <div>
                <img src="assets/icon_wishlist.png"/>
            </div>
        </div>
        <div class="container">
            <div class="form-wrap">
                <h1>{{message}}</h1>
                <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off" ng-submit="goBack()">
                    <input type="submit" id="btn-login" class="btn btn-lg btn-block" value="Log in" ui-sref="login">
                </form>

            </div>

        </div>
    </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <p><strong>Copyright: </strong> Gajewski, Siatka, Wrona</p>
        </div>
    </div>
</footer>