<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="pl.edu.agh.io.wishlist.android">

    <uses-sdk
            android:maxSdkVersion="22"
            android:minSdkVersion="16"
            android:targetSdkVersion="22"
            tools:ignore="OldTargetApi"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".dagger.DaggerApplication"
            android:allowBackup="true"
            android:debuggable="true"
            android:icon="@drawable/icon_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">
        <activity
                android:name=".activity.LoginActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUpActivity"/>
        <activity
                android:name=".activity.NavigationActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".activity.GiftDetailsActivity"
                android:label="@string/title_item_detail"
                android:parentActivityName=".activity.NavigationActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.GiftDetailsActivity"/>
        </activity>
        <activity
                android:name=".activity.SettingsActivity"
                android:theme="@style/AppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.LoginActivity"/>
        </activity>
    </application>

</manifest>
